$title-font: 'Josefin Slab', serif;
$body-font: 'Josefin Sans', sans-serif;

$font-size: 14px;

$primary-color: #3f6f8c;
$secondary-color: #f294a5;

$background-light: #e4edf2;
$background-cream: #f2e7ae;
$body-font-color: #0d0d0d;

$box-shadow: 0 20px 30px -14px rgba(0, 0, 0, 0.5);

$header-height: 100px;
